In [24]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load 
schools_final_csv = Path("Resources/schools_complete.csv")
students_final_csv = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
schools_data_df = pd.read_csv(schools_final_csv)
students_data_df = pd.read_csv(students_final_csv)

# Combine the data into a single dataset.
schools_students_df = pd.merge(students_data_df, schools_data_df, how="left", on=["school_name", "school_name"])
schools_students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [33]:
### district Summary

In [38]:
# total number of  schools
total_schools = len(pd.unique(schools_students_df["school_name"]))
print(f'Number of Schools : {total_schools}')

Number of Schools : 15

In [39]:
# total number of students
total_students = len(schools_students_df["Student ID"].unique())
print(f'total Students : {total_students:5,.0f}')

total Students : 39,170

In [40]:
# Calculate total budget
total_budget = schools_data_df["budget"].sum()
print(f'Total Budget : ${total_budget:10,.0f}')

Total Budget : $24,649,428

In [35]:
# Calculate the average (mean) math score
avg_math=students_data_df['math_score'].mean()
avg_math

78.98537145774827

In [20]:
# average (mean) reading score
average_reading_score = student_data["reading_score"].mean()
average_reading_score = round(average_reading_score, 2)

average_reading_score

81.88

In [ ]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)

In [ ]:
# Calculate % passing reading (the percentage of students who scored >= 70)

In [ ]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)

In [ ]:
# Use the following to calculate the percentage of students that passed math and reading

In [ ]:
# Create a high-level snapshot of the district's key metrics in a DataFrame

In [ ]:
# Use the code provided to select the type per school from school_data

In [ ]:
# Calculate the total student count per school

In [ ]:
# Calculate the total school budget

In [ ]:
# Calculate the average test scores per school from school_data_complete

In [ ]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete

In [ ]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete

In [ ]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher

In [ ]:
# Use the provided code to calculate the passing rates

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.

In [ ]:
# Use the code provided to separate the data by grade


# Group by `school_name` and take the mean of the `math_score` column for each.


# Combine each of the scores above into single DataFrame called `math_scores_by_grade`



# Minor data wrangling


# Display the DataFrame

In [ ]:
# Use the code provided to separate the data by grade



# Group by `school_name` and take the mean of the the `reading_score` column for each.



# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`


# Minor data wrangling


# Display the DataFrame

In [ ]:
# Establish the bins

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget"

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.

In [ ]:
#  Calculate averages for the desired columns.

In [ ]:
# Assemble into DataFrame


# Display results

In [ ]:
# Establish the bins.

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

In [ ]:
# Calculate averages for the desired columns.

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`


# Display results

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
# Display results